.App {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.layout {
  min-height: 100vh;
  /* height: auto; */
  max-height: fit-content;
}

h1 {
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-size: calc(10px + 2.4vw);
  cursor: pointer;
  letter-spacing: 0.145em;
  text-transform: uppercase;
  color: #454545;
  text-align: center;
  position: relative;
  line-height: 1;
}
h3 {
  font-family: "Montserrat", sans-serif;
  /* font-family: "Source Sans Pro"; */
  font-weight: 700;
  font-size: calc(8px + 2vw);
  cursor: pointer;
  letter-spacing: 0.05em;
  /* text-transform: uppercase; */
  color: #454545;
  position: relative;
  line-height: 1.5;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  background: #0b69a1;
  border: 0;
  color: white;
  font-size: 12px;
  padding: 7px 15px;
  border-radius: 30px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
